# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Streamlit
.streamlit/
.streamlit/config.toml

# OS / Editor
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Output / demo artifacts
OUTPUT/
